.mapContainer {
    flex: 1;
    height: 100%;
    background-color: var(--color-dark--2);
    position: relative;
}
  
.map {
    height: 100%;
    width: 100%;
}
.mapLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-light--2);
    fontSize: 1.6rem;
}