.cityItem,
.cityItem:link,
.cityItem:visited {
    display: flex;
    gap: 1.6 rem;
    align-items: center;
    background-color: var(--color-dark--2);
    border-radius: 7px;
    padding: 1rem 2rem;
    border-left: 5px solid var(--color-brand--2);
    cursor: pointer;
  
    color: inherit;
    text-decoration: none;
}

.cityItem--active {
    border: 2px solid var(--color-brand--2);
    border-left: 5px solid var(--color-brand--2);
  }
  
.emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    width: 2.6rem;
    height: 2.6rem;
    flex-shrink: 0;
}

.emoji svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  
.name {
    font-size: 1.7rem;
    font-weight: 600;
    margin-right: auto;
}
  
.date {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.deleteBtn {
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
}
  
.deleteBtn:hover {
    background-color: var(--color-brand--1);
    color: var(--color-dark--1);
}
  